# Ignorar a pasta do ambiente virtual
venv/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de sistema do Mac
.DS_Store

# Ignorar arquivos de compilação do Python
*.pyc
*.pyo
__pycache__/

# Ignorar dependências do Python que já estão listadas no requirements.txt
*.egg
*.egg-info